{% extends "layout.html" %}

{% block title %}
    Posts Index
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Posts</h1>
<a href="{% url 'new_post' %}" class="btn btn-primary mb-3">Create New Post</a>

<div class=' container row gap-3'>
  {%for post in posts%}
    <div class="card" style="width: 18rem;">
      {% if post.photo %}
       <img src="{{ post.photo.url }}" class="card-img-top" alt="no image?">
      {% endif %}
     
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <span >by @{{ post.author }}</span>
        <p class="card-text">{{post.content|truncatewords:20 }}</p>
        <a href="{% url 'post' post.id %}" class="btn btn-primary">View Post</a>
        {% if post.author == user %}
          <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit post</a>
          <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete post</a>
        {% endif %}
        
      </div>
    </div>
  {% endfor %}
</div>
    
{% endblock %}