{% extends "layout.html" %}

{% block title %}
   new post
{% endblock %}

{% block content %}
  <h1 class="text-center mt-4">Posts</h1>
  <h3>
    {% if form.instance.pk%}
    Edit Post
   
    {% else%}
    Create Post
    {% endif%}
     <form method ='POST' enctype="multipart/form-data" class='form'>
        {% csrf_token %}
        {{ form.title }}
        {{ form.content }}
        {{ form.photo }}
        <button type="submit" class="btn btn-primary">Post</button>  
    </form>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
  </h3>
    
{% endblock %}