{% extends "layout.html" %}

{% block title %}
   new post
{% endblock %}

{% block content %}
  <h1 class="text-center mt-4">Posts</h1>
  <h2>
    {% if form.instance.pk%}
    Edit Post
   
    {% else%}
    Create Post
    {% endif%}
     <form method ='POST' enctype="multipart/form-data" class='form'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>

  </h2>
    
{% endblock %}